<div class="img-fondo-categoria margenSuperiror50" style="background: url('{{vm.categoria.imagen}}') center center no-repeat; background-size: cover;">
  <h1>{{vm.categoria.nombre}}</h1>
</div>
<div class="container" ng-bind-html-unsafe="vm.categoria.description"> 
  <!-- Página tutoriales -->
  <section class="row">
    <div class="col-xs-12" >
      <div class="categoria">
        <div class="page-header">            
          <h3>{{vm.categoria.titulo_desc}}</h3>
        
        <div ng-bind-html="vm.categoria.description"></div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="container">
  <div class="row">
    <article class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="articulo in vm.categoria.articulos" ng-bind-html-unsafe="articulo.subtitulo">
      <a ng-href="#/tutoriales/{{vm.categoria.nombre}}{{articulo.url}}">
        <div class="col-xs-12">
          <div class="box-element-contenedor row">
            <div>                
              <img class="img-responsive box-element-imagen-pequena" ng-src="{{articulo.imagen}}" alt="">
            </div>
            <div class="box-element col-xs-12">
              <div class="box-element-contenido">
                <h2>{{articulo.titulo}}</h2>
                <div ng-bind-html="articulo.subtitulo"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row-sombra"><div class="sombra"></div></div>
      </a>
    </article>
  </div>
</div>
<!-- end Página tutoriales -->

